<div class="outline">	
	<%= form_for @haircut do |f| %>
	  <p> 
	    <%= f.label :name %><br>
	    <%= f.text_field :name, :class => "input-text" %>
	  </p>

	  <p>   
	    <%= f.label :description %><br>
	    <%= f.text_area :description, :class => "input-text"  %>
	  </p>

	  <%= f.button :submit, :class => "btn btn-primary btn-xl" %>
	<% end %>
</div>