<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading" class="outline"><%= haircuts_desc.title %></h1>
      <hr>
      <p class="outline"><%= haircuts_desc.body %></p>
      <a href="#haircuts" class="btn btn-primary btn-xl page-scroll"><%= haircut_btn.body %></a>
    </div>
  </div>
</header>

<% if @haircuts %>
	<div id="haircuts">
		<% @haircuts.each_with_index do |haircut, i| %>
			<% if i % 2 == 0 %>
				<section>
					<%= render haircut %>
				</section>
			<% else %>
				<section class="bg-dark">
					<%= render haircut %>
				</section>
			<% end %>
		<% end %>
	</div>
<% end %>
