<div class="col-lg-4 col-sm-6">
  <a href="<%= image_path(pic.image.url(:original)) %>" class="portfolio-box">
    <%= image_tag (pic.image.url(:original), :class => "img_responsive") %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <%= pic.title %>
        </div>
        <div class="project-name">
          <%= pic.body %>
        </div>
      </div>
    </div>
  </a>
  <% if admin_signed_in? %>    
    <br>
    <%= link_to 'Edit Pic', edit_haircut_pic_path(pic.haircut, pic), :method => :get %> |
    <%= link_to 'Delete Pic', haircut_pic_path(pic.haircut, pic), :method => :delete, 
      data: {confirm: "Are you sure you want to delete this pic?"} %>
  <% end %>
</div>