<!DOCTYPE html>
<html>
  <head>
    <title>ErwinTheBarber</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
  	<%= render "layouts/navbar" %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
